[submodule "lib/esp8266"]
	path = lib/esp8266
	url = https://github.com/besi/kicad-esp8266
[submodule "lib/tp4056"]
	path = lib/tp4056
	url = https://github.com/besi/kicad-tp4056
[submodule "lib/lilygo-sim"]
	path = lib/lilygo-sim
	url = https://github.com/besi/kicad-lilygo-sim
[submodule "lib/relais-module"]
	path = lib/relais-module
	url = https://github.com/besi/kicad-relais-module
[submodule "lib/esp-01m"]
	path = lib/esp-01m
	url = https://github.com/besi/kicad-esp-01m.git
[submodule "lib/radio-receiver"]
	path = lib/radio-receiver
	url = https://github.com/besi/kicad-radio-receiver
[submodule "lib/dcdc"]
	path = lib/dcdc
	url = https://github.com/besi/kicad-dcdc
[submodule "lib/neopixel-strip"]
	path = lib/neopixel-strip
	url = https://github.com/besi/kicad-neopixel-strip
[submodule "lib/mems-mic"]
	path = lib/mems-mic
	url = https://github.com/besi/kicad-mems-mic
[submodule "lib/schurter-switch"]
	path = lib/schurter-switch
	url = https://github.com/besi/kicad-schurter-switch
[submodule "lib/magnetic-pogo"]
	path = lib/magnetic-pogo
	url = https://github.com/besi/kicad-magnetic-pogo
[submodule "lib/ftdi-connector"]
	path = lib/ftdi-connector
	url = https://github.com/besi/kicad-ftdi-connector
[submodule "lib/c8-inlet"]
	path = lib/c8-inlet
	url = https://github.com/besi/kicad-c8-inlet
[submodule "lib/rdm-6300"]
	path = lib/rdm-6300
	url = https://github.com/besi/kicad-rdm-6300
[submodule "lib/magnetic-charger"]
	path = lib/magnetic-charger
	url = https://github.com/besi/kicad-magnetic-charger
